@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
nav {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: sticky;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 1%; 
}
nav a {
color: rgb(153, 153, 153);
text-decoration: none;
}
h1 {
    text-align: center;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 500;
}
h5 {
    color: red;
    font-size: medium;
    font-weight: bold;
}